* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(13, 37, 63);
}

h1,
h3 {
  color: white;
  text-align: center;
  padding: 2em 1em 0 1em;

}

h3 {
  font-size: 1.6em;
  margin: 1.5rem;
}

img {
  width: 100%;
  height: 300px;
  float: left;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding: 1em;
  /* margin: 1em; */

}

nav {
  background-color: rgba(78, 138, 202, 0.24);
  height: 4em;
}

li {
  display: inline-block;
  margin-top: .8em;
}

h1 {
  margin: 1.5em;
}

footer {
  position: static;
  width: 100%;
  bottom: 1%;
  background-color: black;
  color: white;
  text-align: center;
}

.container {
  width: 100%;

}

.input-form input {
  width: 80%;
  padding: 1.2em 1.2em;
  margin: 5% 10%;
  border-radius: 4px 4px;

  border: none;
  outline: none;
  box-shadow: 5px 5px rgb(226, 226, 226);
  font-size: 1em;
}

.movies,
.popular,
.trending,
.movie-1 {
  width: 90%;
  margin: auto 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
  color: rgb(195, 200, 207);
  font-family: 'Poppins', sans-serif;

}

.movie-1 {
  grid-template-columns: .5fr
}

.movie-1 img {
  width: 18em;
}

.okay {
  height: 400px;
}

.movie h4 {
  font-size: 1.2rem;
}

.movie h5 {
  font-size: 1.2rem;
}

.movie img:hover {
  width: 98%;
  height: 290px;
  transition: .2s ease-in;
}

.movie-1 img:hover {
  width: 17.5em;
  height: 290px;
  transition: .2s ease-in;
}